@keyframes morph {
    0%, 100% {
        border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    }
    33% {
        border-radius: 72% 28% 48% 48% / 28% 28% 72% 72%;
    }
    66% {
        border-radius: 100% 56% 56% 100% / 100% 100% 56% 56%;
    }
}
.blob {
    overflow: hidden;
    width: 26rem;
    height: 26rem;
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;

    background: #2febdb url("nat.jpg");
    background-size: cover;
    background-position: left;

    animation: morph 3.75s linear infinite;
}
body {
    background-color: #5adbec;
    width: 70%;
    max-width: 70%;
}